<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Alegreya&display=swap" rel="stylesheet">
<!-- shall I add normalize.css ? -->
<!-- <link rel="stylesheet" href="https://raw.githubusercontent.com/necolas/normalize.css/master/normalize.css"> -->
<link href="https://raw.githubusercontent.com/necolas/normalize.css/master/normalize.css" rel="stylesheet">
<!-- <link rel="stylesheet" type="text/css" href="/python/css/main.css" > -->
<link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/main.css" >
<!-- use .Site.BaseURL in link href -->
{{- $title := ( .Title ) -}}
