body {
    font-family: 'Alegreya', serif;
    font-size: 1.5em;
    text-rendering: optimizeLegibility;
    text-align: justify;
    hyphens: auto;
    color: #222;
    background-color: #ffe;
    width: 70%;
    margin: auto;
}
h1 {
    text-align: center;
    margin: 4px 4px 1em;
}

#примечание, #примечание+* {
    font-size: 0.5em;
    margin: 2;
    text-align: right;
}
@media only screen and (max-width: 1080px) {
    body {
	width: 95%;
    }
}

img {
    width: 100%;
}

